<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-Tech-Blog</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <script defer src="javascript/{{script}}.js"></script>
    {{#if logged_in}}
    <script defer src="javascript/logout.js"></script>
    {{/if}}
</head>
<body>
 <h1>My-Tech-Blog</h1>
 {{#if logged_in}}
    {{> nav}}
 {{/if}} 
 <main>
   {{{body}}}  
 </main>  
</body>
</html>